@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/new.css";
@import "components/user-component.css";
@import "components/icon-row.css";
@import "components/alt-header.css";
@import "components/only-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--red);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.screen {
    margin-top: 100px;
    width: 90%;
    height: 70%;
}

.login-screen,
.chat-screen,
.settings-screen {
    margin-top: 120px;
    background-color: var(--beige);
    border-radius: 50%;
}