:root {
    --main-border: 1px solid rgba(0,0,0, 0.3);
    --beige: rgb(240, 234, 228);
    --beige-shadow: rgba(240, 234, 228, 0.5);
    --green: rgb(0, 99, 99);
    --green2: rgb(111, 170, 170);
    --red:rgb(226, 105, 97);
    --gray1: rgba(0,0,0,0.1);
    --gray2: rgba(0,0,0,0.2);
    --gray3: rgba(0,0,0,0.3);
    --gray5: rgba(0,0,0,0.5);
    --gray7: rgba(0,0,0,0.7);
}