.chat-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    background-color: var(--gray3);
    padding: 5px 15px;
    border-radius: 100px;
    color: var(--beige);
    font-size: 15px;
    margin: 5px 0 25px 0;
}

@keyframes MessageAnimation1 {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
  
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    opacity: 0;
    animation: MessageAnimation1 1s linear forwards;
}

.message-row:last-child {
    animation-delay: 0.9s;
}
  
.message-row i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--beige);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 40%;
    margin-right: 10px;
}
  
.message__author {
    margin-bottom: 8px;
    display: block;
}
  
.message__info {
    display: flex;
    align-items: flex-end;
}
  
.message__bubble {
    background-color: white;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
    border-top-left-radius: 0;
    color: black;
    font-size: 18px;
    width: 80%;
}
  
.message__time,
.message__author {
    color: var(--gray7);
    font-size: 15px;
}

@keyframes MessageAnimation2 {
    from {
        opacity: 0;
        transform: translateX(70px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
  
.message-row--own {
    justify-content: flex-end;
    opacity: 0;
    animation: MessageAnimation2 1s linear forwards;
}

.message-row--own {
    animation-delay: 0.3s;
}

.message-row--own:last-child {
    animation-delay: 0.6s;
}
  
.message-row--own .message__bubble {
    background-color: var(--green);
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    margin-left: 5px;
    width: 70%;
}
  
.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    z-index: 50;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;
}

.reply__column:first-child {
    width: 10%;
}

.reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply__column > i {
    color: var(--gray5);
}

.reply__column input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--gray3);
    border-radius: 50px;
    font-size: 18px;
    padding: 3px 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply:focus-within input {
    width: 96vw;
    transform: translateX(-11%);
  }

.reply__column input:focus,
.reply__column input:active,
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
    outline: none;
}

.reply__column:last-child button {
    background-color: var(--green);
    border-radius: 50%;
    color: var(--beige);
    width: 45px;
    height: 45px;
    border: var(--main-border);
}

.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 3px;
    top: 3px;
}

.reply__column:last-child > i {
    right: 60px;
    top: 10px;
}