.recommended-friends,
.open-chat {
    border-top: 1px solid var(--green);
    margin-top: 20px;
    padding-top: 20px;
}

.recommended-friends__header,
.open-chat__header-column:first-child {
    color: var(--gray7);
    font-size: 15px;
}

.recommended-friends__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    color: var(--gray5);
    font-size: 18px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-chat__header-column:last-child span {
    color: var(--gray5);
    font-size: 15px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.open-post__title {
    font-size: 20px;
    font-weight: 600;
}

.open-post__hashtags {
    font-size: 18px;
    color: var(--gray7);
    margin-top: 5px;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.open-post__members i {
    background-color: var(--beige);
    font-size: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-post__members-count {
    color: var(--gray5);
    font-size: 15px;
    margin-left: 5px;
}

.open-post__members-div {
    background-color: var(--gray5);
    width: 1px;
    height: 15px;
    margin: 0 5px;
}

.open-post__members-status {
    font-size: 15px;
    color: var(--green);
}

.open-post__column:last-child > i {
    background-color: var(--green);
    color: var(--beige);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-post__column:last-child {
    position: relative;
}

@keyframes HeartAnimation {
    0% {
        color: tomato;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(2,2);
    }
    100% {
        color: tomato;
        transform: none;
    }
}

.open-post__column:last-child:hover .fa-heart {
    will-change: transform;
    animation: HeartAnimation 1s linear infinite; 
}

.open-post__heart-count {
    position: absolute;
    bottom: 3px;
    right: 2px;
    z-index: 1;
    font-size: 15px;
    background-color: var(--gray3);
    color: var(--beige);
    border-radius: 8px;
    padding: 3px 5px;
}

.open-post__heart-count i {
    margin-right: 3px;
}
