.welcome-header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome-header h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.welcome-header span {
    color: var(--gray7);
    font-size: 15px;
    width: 60%;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

#login-form input {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: var(--beige);
}

#login-form input:focus,
#login-form input:active {
    outline: none;
}

#login-form input:not([type="submit"]) {
    border-bottom: var(--main-border);
    transition: background-color 1s linear;
}

#login-form input:focus {
    background-color: var(--gray1);
}

#login-form input::placeholder {
    color: var(--gray5);
}

#login-form input[type="submit"] {
    background-color: var(--green);
    color: white;
    cursor: pointer;
}

#login-form a {
    color: var(--gray7);
    text-decoration: none;
    font-size: 15px;
}