.more-suggestions {
    border-top: 1px solid var(--green);
    margin-top: 50px;
    padding-top: 20px;
}

.more-suggestions__title {
    color: var(--gray7);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.more-suggestions__icons {
    display: flex;
    align-items: center;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.more-suggestions__icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: var(--green);
    color: var(--beige);
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.more-suggestions__icon span {
    margin-top: 10px;
    font-size: 18px;
    color: var(--gray5);
}