.settings-list:first-child {
    border-bottom: 1px solid var(--green);
    margin-top: 0;
}

.settings-list_item {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-list_item__column {
    display: flex;
    align-items: center;
}

.settings-list_item__column i {
    font-size: 25px;
    color: var(--gray7);
    margin-right: 10px;
}

.settings-list_item-menu {
    font-size: 20px;
    color: var(--gray7);
}

.settings-list_item__column:last-child span {
    font-size: 18px;
    color: var(--gray5);
}