.status-bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 3px;
    box-sizing: border-box;
    background-color: var(--red);
    z-index: 50;
}

.status-bar__column {
    width: 33%;
    display: flex;
}

.status-bar__column:nth-child(2) {
    justify-content: center;
}

.status-bar__column:last-child {
    justify-content: flex-end;
}

.status-bar__column span {
    color: black;
    font-size: 15px;
}

.status-bar__column i {
    margin-left: 5px;
    color: black;
}