.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component {
    justify-content: space-between;
    margin-bottom: 25px; 
    border-radius: 50px;
}

@keyframes BlockAnimation {
    form {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.user-component:hover {
    animation: BlockAnimation 0.5s linear forwards;
}

.user-component__column i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--beige);
    border-radius: 25px;
    margin-right: 10px;
    font-size: 40px;
    width: 70px;
    height: 70px;
}

.user-component__text h3 {
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.user-component__text h6 {
    font-size: 18px;
    margin-top: 10px;
    color: var(--gray7);
    width: 100%;
    background-color: var(--beige);
    border-radius: 8px;
    padding: 3px 10px;
    box-sizing: border-box;
    border-top-left-radius: 0;
}

.user-component-lg__column i {
    font-size: 50px;
    width: 80px;
    height: 80px;
}

.user-component-sm__column i {
    font-size: 30px;
    width: 60px;
    height: 60px;
}

.friend-component__text h3 {
    font-size: 22px;
    font-weight: 400;
}

.friend-component__text h6 {
    font-size: 15px;
}

.user-component__column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    color: var(--gray5);
}

.user-component__column:last-child i {
    background-color: inherit;
    color: var(--gray7);
    margin-right: 0;
    font-size: 30px;
    justify-content: flex-end;
}